extends ../layout.pug

block prepend styles
    link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content



    div(class='breadcrumb')
        li Вибери магазин
    form(id='shop-delete-form' name='shop-add-form' class='form-inline' action='/deleteShop' method='GET')
        div(class='')
            div(class='col-md-3')
                label(for='') Shop
            div(class='col-md-6')
                each val, index in data

                    a(href=`/shops/${index}`)
                        span= val.shop.name






block append scripts
    script(src='/static/js/models/shop.js')
    script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
    script(src='/static/js/views/shop.js')
